<%- include("partials/headerForWork.ejs")  %>

<div class="container">
    <div class="heading">
        <h1 class="index-h1"><%- date.toLocaleDateString("en-US", options) %></h1>
    </div>
    <div class="content">
        <div class="item"><input type="checkbox" name="" id=""><p>commit on repo</p></div> 
        <div class="item"><input type="checkbox" name="" id=""><p>meeting at 1000</p></div>          
        <div class="item"><input type="checkbox" name="" id=""><p>call with John</p></div>
        <div class="item"><input type="checkbox" name="" id=""><p>meeting at 1700</p></div>
                   
        <% for(i=0;i<listItemArray.length;i++){ %>
            <div class="item"><input type="checkbox" name="" id=""><p><%= listItemArray[i] %></p></div>
        <% } %>  
        
        <div class="item"><form action="/" method="post">
            <input type="text" name="newitem" id="newitem" placeholder="add a new item" autocomplete="off">
            <button id="formbutton" type="submit">+</button>
        </form></div>         
    </div>
</div>

<%- include("partials/footer.ejs") %>